# 20244252 류태양 (20241008)  
- 5장. 여러 번 반복하는 일을 하자  
- 류태양  
- 20244252

## 오늘 배운 내용
1. 반복문에 i = 1이라는 조건을 넣어야 되는 것을 알게 되었습니다.
2. str()[::-1]로 숫자를 뒤집어 쓰는 것을 알게 되었습니다.

## 어려운 점들  
1. 들여쓰기가 너무 복잡해요.
2. i랑 1을 멀리서 보면 똑같이 보여요.

## 요점정리
### 1) 반복문의 두가지 형식을 적어라  
    1. for문 식별자 in 반복가능한 것(iterable):
    2. while문 조건식:
### 2) 두가지 반복문의 중요한 특징을 적어라
    1. 반복할 횟수가 정해져 있다.
    2. 특정 조건이 만족되면 계속 반복한다.
### 3) 반복 루프를 제어하는 두가지 키워드를 찾아서 적고 그 특징을 설명하라
    1. for문의 첫 번째 키워드는 range함수는 숫자열을 반환하고, 반복할 때마다 변수 i에 이 값을 대입하면서 문장을 반복한다.
    2. for문의 두 번째 키워드는 하나 이상의 반복되는 문장이 올 수 있는데, 이 문장을 동일한 간격의 들여쓰기를 하면 같이 반복한다.
    3. while문의 첫 번째 키워드는 continue로 루프를 빠져나오지 않고 아래 문장으로 건너뛸 때 사용된다.
    4. while문의 두 번째 키워드는 break로 루프를 강제적으로 빠져나올 때 사용된다.
### 4) range 함수에 대하여 찾아서 형식을 써라
    1. range(start, stop, step) start는 반복시작할 첫 숫자, stop은 반복이 끝난 다음 숫자, step은 반복할 숫자간의 간격이다.
        - range (시작값, 끝 값, 증가분)
    2. range(stop) 이때 start는 0, step은 1로 간주한다.

## 주관식 문제
1. for 문
2. while 문
3. 루프(loop)
4. 블록(block)
5. 콜론 :
6. range()
7. 무한 루프(infinite loop)
8. True
9. break
10. continue
11. format()
12. 부동소수 (floating point)

## 심화문제

### 5.1

In [11]:
#5.1-1
for i in range(1, 101, 2):
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [2]:
#5.1-1-1
for i in range(1, 101):
    if i % 2 == 1:
        print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [10]:
#5.1-2-1
i = 1
while i < 100:
    print(i, end= ' ')
    i += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [12]:
#5.1-2-2
i = 1
while i < 100:
    if i % 2 == 1:
        print(i, end= ' ')
    i += 1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [14]:
#5.1-3-1
i = 2
while i < 101:
    print(i, end=' ')
    i += 2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [15]:
#5.1-3-2
i = 1
while i < 101:
    if i % 2 == 0:
        print(i, end= ' ')
    i += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### 5.2

In [43]:
#5.2-1
s = 0
for i in range(1,101,2):
    s = s + i
print('1에서 100까지의 수 중에서 홀수의 합 :', s)

1에서 100까지의 수 중에서 홀수의 합 : 2500

In [57]:
#5.2-2
s = 0
for i in range(1,101):
    if i % 2 == 1:
        s  += i
print("1에서 100까지의 수 중에서 홀수 합:", s)

1에서 100까지의 수 중에서 짝수 합: 2500

In [63]:
#5.2-3
i = 1
s = 0
while i < 100:
    if i % 2 == 1:
        s += i
    i += 1

print("1에서 100까지의 수 중에서 홀수 합:", s)

1에서 100까지의 수 중에서 홀수 합: 2500

### 5.4

In [73]:
5.4-1
for i in range(1, 6):
    print(' ' * (5-i) + '*'*i)

    *
   **
  ***
 ****
*****

In [74]:
#5.4-2
for i in range(1, 6):
    print('*'*i)

*
**
***
****
*****

### 5.5

In [23]:
i = 0
day = 1
while i < 30:
    i += 7
    print("day : {} 달팽이의 위치 : {}미터".format(day, i))
    if i > 30: break
    day += 1
    i -= 5
print("축하합니다. 우물을 탈출하였습니다.")
print("우물을 탈출하는 데 걸린 날은", day, "일 입니다.")

day : 1 달팽이의 위치 : 7미터
day : 2 달팽이의 위치 : 9미터
day : 3 달팽이의 위치 : 11미터
day : 4 달팽이의 위치 : 13미터
day : 5 달팽이의 위치 : 15미터
day : 6 달팽이의 위치 : 17미터
day : 7 달팽이의 위치 : 19미터
day : 8 달팽이의 위치 : 21미터
day : 9 달팽이의 위치 : 23미터
day : 10 달팽이의 위치 : 25미터
day : 11 달팽이의 위치 : 27미터
day : 12 달팽이의 위치 : 29미터
day : 13 달팽이의 위치 : 31미터
축하합니다. 우물을 탈출하였습니다.
우물을 탈출하는 데 걸린 날은 13 일 입니다.

### 5.7

In [26]:
for n in range(100, 1000):
    x = n // 100
    y = (n - x*100) // 10
    z = n % 10
    if n == (x**3 + y**3 + z**3):
        print(n, end = " ")

153 370 371 407

### 5.8

In [27]:
str(12134)[::-1]

'43121'