# 20244252 류태양(20241022)(20241024)
- 8장 연관된 데이터를 딕셔너리로 짝을 짓자  
- 류태양  
- 2044252

## 오늘 배운 내용  
1. 딕셔너리를 사용하는 방법을 배웠습니다.
2. 람다함수는 저장을 하는 것이 아닌 것을 배웠습니다.

## 어려운 점들  
1.  딕셔너리를 적용할 때 대괄호 중괄호 괄호를 다양하게 사용하여 가끔 무엇을 써야할지 헷갈립니다.
2.  항목이나 키, 값을 넣을 때 비슷한 단어를 사용하면 헷갈려서 잘못된 단어를 넣을 때 한 번에 찾기 힘듭니다.

## 요점정리
### 1) 딕셔너리(dictionary)를 만드는 방법을 설명하라
- 키-값-쌍(key - value - pair)
- 항목 = {}

### 2) 딕셔너리에 새로운 요소를 추가하는 방법을 설명하라
- 항목[키] = "값"

### 3) 딕셔너리에 사용하는 메소드를 찾아서 정리해 보자
- keys() 딕셔너리 내의 모든 키를 반환한다.
- values() 딕셔너리 내의 모든 값을 반환한다.
- items() 딕셔너리 내의 모든 항목을 [키]:[값] 쌍으로 반환한다.
- get(key) 키에 대한 값을 반환한다. 키가 없으면 None을 반환한다.
- pop(key) 키에 대한 값을 반환하고, 그 항목을 삭제한다. 키가 없으면 KeyError 예외를 발생시킨다.
- popitem() 제일 마지막에 입력된항목을 반환하고 그 항목을 삭제한다.
- clear() 딕셔너리 내의 모든 항목을 삭제한다.

### 4) 집합의 중요한 성질을 설명하라
- 튜플과 달리 순서가 없는 자료형이다.
- 특히 동일한 값을 가지는 항목의 중복이 허용되지 않는다.

### 5)리스트, 튜플, 딕셔너리, 집합을 비교하라
- 리스트 : 여러 가지 유형의 자료를 한 번에 담고, 인덱스를 이용한다.
    순서형(ordered) 자료구조
    변경가능(mutable) 자료형
- 튜플 : 여러 가지 유형의 자료를 한 번에 담는다.
    순서형(ordered) 자료구조
    변경불가능(immutable) 자료형
- 집합 : 여러 가지 유형의 자료를 한 번에 담지만, 순서가 존재하지 않고 중복을 허용하지 않는다.
    비순서형(unordered) 자료구조
    빠르게 제거는 리스트 자료형에서 집합 자료형으로 변경 후 리스트로 변경하면 된다.
- 딕셔너리 : 키 - 값 싸으로 자료형으로 저장되고 유일한 키로 값에 접근 가능함.
    딕셔너리의 키는 문자열, 정수, 튜플 등이 될 수 있다.

In [51]:
my_list = (1, 3, 5, 1, 2, 2, 3)
my_list

(1, 3, 5, 1, 2, 2, 3)

In [48]:
my_set = {1, 3, 5, 1, 2, 2, 3}
my_set

{1, 2, 3, 5}

In [52]:
my_set = set(my_list)
my_set

{1, 2, 3, 5}

In [55]:
A = {1, 3, 5, 7}
B = {3, 4, 5, 6, 7, 8}
A.union(B)

{1, 3, 4, 5, 6, 7, 8}

In [56]:
A.difference(B)

{1}

In [57]:
A & B

{3, 5, 7}

In [58]:
A | B

{1, 3, 4, 5, 6, 7, 8}

In [59]:
A - B

{1}

In [60]:
A ^ B

{1, 4, 6, 8}

In [ ]:
my_dict = {}
type(my_dict)

In [38]:
my_dict = dict()
my_dict

{}

In [39]:
my_dict = {'name':'taeyang'}
my_dict['age'] = 20
my_dict

{'name': 'taeyang', 'age': 20}

In [40]:
my_dict['height'] = 183
my_dict

{'name': 'taeyang', 'age': 20, 'height': 183}

In [41]:
my_dict['weight'] = 93
my_dict

{'name': 'taeyang', 'age': 20, 'height': 183, 'weight': 93}

In [11]:
my_dict['height']

183

In [42]:
my_dict['weight']

93

In [43]:
my_dict['bmi'] = my_dict['weight'] / (my_dict['height']/100) ** 2
my_dict

{'name': 'taeyang',
 'age': 20,
 'height': 183,
 'weight': 93,
 'bmi': 27.77031263997133}

In [22]:
my_dict.keys()

dict_keys(['name', 'age', 'height', 'weight', 'bmi'])

In [23]:
my_dict.values()

dict_values(['taeyang', 20, 183, 93, 27.77031263997133])

In [24]:
my_dict.items()

dict_items([('name', 'taeyang'), ('age', 20), ('height', 183), ('weight', 93), ('bmi', 27.77031263997133)])

In [25]:
my_dict['name']

'taeyang'

In [27]:
my_dict.get('name')

'taeyang'

In [28]:
my_dict['이름']

KeyError: '이름'

In [30]:
my_dict.get('이름')

In [31]:
my_dict.pop('age')

20

In [32]:
my_dict

{'name': 'taeyang', 'height': 183, 'weight': 93, 'bmi': 27.77031263997133}

In [35]:
my_dict.clear()

In [77]:
def add2(a, b):
    return a + b

add2(3, 5)

8

In [73]:
(lambda a , b : a + b)(3 , 5)

8

## 8단원 끝에 있는 핵심정리를 적어라

## 주관식문제
1. 딕셔너리(dictionary), 줄여서 dict(딕트)라고 함
2. 중괄호 {}
3. keys()
4. values()
5. items()
6. clear()
7. 람다 함수, 람다 표현식(lambda expression)
8. 집합(set)
9. add()
10. |, union()
11. &, intersection()
12. -, difference()
13. ^, symmetric_difference()

## 심화문제

In [94]:
#8.1
fruit_price = {'사과':0, '배':0, '수박':0, '귤':0, '포도':0}
prices = input('사과, 배, 수박, 귤, 포도, 가격을 공백으로 구분하여 입력: ').split()
prices

사과, 배, 수박, 귤, 포도, 가격을 공백으로 구분하여 입력: 3000 4500 6000 2400 3400

['3000', '4500', '6000', '2400', '3400']

In [95]:
#8.1
i = 0
for k in fruit_price:
    fruit_price[k] = prices[i]
    i += 1

fruit_price

{'사과': '3000', '배': '4500', '수박': '6000', '귤': '2400', '포도': '3400'}

In [96]:
{k:v for (k,v) in zip(fruit_price.keys(), prices)}

{'사과': '3000', '배': '4500', '수박': '6000', '귤': '2400', '포도': '3400'}

In [98]:
names = list(fruit_price.keys())
for i in range(len(prices)):
    fruit_price[names[i]] = prices[i]
    
fruit_price

{'사과': '3000', '배': '4500', '수박': '6000', '귤': '2400', '포도': '3400'}

In [8]:
fruit_price = {'사과':0, '배':0, '수박':0, '귤':0, '포도':0}
names = list(fruit_price.keys())
print(names)
prices = input('사과, 배, 수박, 귤, 포도, 가격을 공백으로 구분하여 입력: ').split()
print(prices)
for i in range(len(prices)):
     fruit_price[names[i]] = prices[i]
        
fruit_price

['사과', '배', '수박', '귤', '포도']
사과, 배, 수박, 귤, 포도, 가격을 공백으로 구분하여 입력: 3000 4500 6000 2400 3400
['3000', '4500', '6000', '2400', '3400']

{'사과': '3000', '배': '4500', '수박': '6000', '귤': '2400', '포도': '3400'}

In [23]:
fruit = input("구매를 원하는 과일 이름을 입력하세요:")
print(f'오늘의 {fruit}의 가격은 {fruit_price[fruit]} 원 입니다.')

구매를 원하는 과일 이름을 입력하세요:수박
오늘의 수박의 가격은 6000 원 입니다.

In [1]:
student_tup = (('241101', '박동윤', '010-1234-4500'), 
               ('241102', '김은지', '010-2230-6510'), 
               ('241103', '이지은', '010-3232-7788'))

student_dict = {}
for student in student_tup:
    student_dict[student[0]] = list(student[1:])
    
student_dict

{'241101': ['박동윤', '010-1234-4500'],
 '241102': ['김은지', '010-2230-6510'],
 '241103': ['이지은', '010-3232-7788']}

In [ ]:
id = input('학번을 입력하세요 : ')
print('이름:',student_dict[id][0])
print('연락처:',student_dict[id][1])

In [2]:
student_dict['241101'].append(4.3)
student_dict['241102'].append(3.9)
student_dict['241103'].append(4.25)
student_dict

{'241101': ['박동윤', '010-1234-4500', 4.3],
 '241102': ['김은지', '010-2230-6510', 3.9],
 '241103': ['이지은', '010-3232-7788', 4.25]}

In [3]:
ids = list(student_dict.keys())
grades = [4.3, 3.9, 4.25]

for i in range(len(ids)):
    student_dict[ids[i]].append(grades[i])
    
student_dict

{'241101': ['박동윤', '010-1234-4500', 4.3, 4.3],
 '241102': ['김은지', '010-2230-6510', 3.9, 3.9],
 '241103': ['이지은', '010-3232-7788', 4.25, 4.25]}

In [4]:
s = 0
for v in student_dict.values():
    s += v[-1]
    
s / len(student_dict)

4.1499999999999995

In [25]:
lst = [10, 30, 40, 50, 30, 30, 20, 20, 20, 10, 30]
print('전체 원소 : ', sorted(list(set(lst))))

전체 원소 :  [10, 20, 30, 40, 50]

In [26]:
freq_dict = {}
for n in sorted(set(lst)):
    freq_dict[n] = lst.count(n)
    
freq_dict

{10: 2, 20: 3, 30: 4, 40: 1, 50: 1}

In [27]:
for n, v in freq_dict.items():
    if freq_dict[n] >= 2:
        print(f'{n}의 출현빈도 {v}')

10의 출현빈도 2
20의 출현빈도 3
30의 출현빈도 4

In [28]:
not_duplicated = []
for k, v in freq_dict.items():
    if v == 1:
        not_duplicated.append(k)
        
print('중복이 없는 원소들 :', not_duplicated)

중복이 없는 원소들 : [40, 50]

In [30]:
num = input('두 정수를 입력하시오 : ')
mylist = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)]

두 정수를 입력하시오 : 4 9

In [33]:
num = input('두 정수를 입력하시오 : ').split()
a, b = int(num[0]), int(num[1])
mylist = [(1, 2), (4, 5), (4, 2), (3, 1), (9, 4)]

found = False

for index, (m, n) in enumerate(mylist):
    if (m, n) == (a, b):
        print(f'{index + 1}번째에 ({a}, {b}) 요소가 있습니다.')
        found = True
        break

if not found:
    for index, (m, n) in enumerate(mylist):
        if (m, n) == (b, a):
            print(f'({a}, {b}) 요소는 없으나 {index + 1}번째에 ({b}, {a}) 요소가 있습니다.')
            found = True
            break

if not found:
    print(f'({a}, {b}) 또는 ({b}, {a}) 요소가 리스트에 없습니다.')

두 정수를 입력하시오 : 4 9
(4, 9) 요소는 없으나 5번째에 (9, 4) 요소가 있습니다.